@model List<DogViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<title>Dogs List</title>
<div>

    <div class="card-header">
        <h2> Here is your dog name list with ages</h2>
<p>If you havent created a dog yet.. Please go to create a dog page</p>
    </div>
    <div class="card-body">

        <ul>
            @foreach (var dog in Model)
            {
                <li>
                    @dog.Name (@dog.Age)
                </li>
            }

        </ul>
    </div>
</div>