@model List<DogViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<title>Hello World</title>
<h1> Hello World</h1>

<ul>
@foreach (var dog in Model)
{
    <li>
        @dog.Name (@dog.Age)
    </li>
}

</ul>